<div class="row">
    <div class="col-xs-10 col-xs-10 col-xs-offset-1">
        <h2>Meow Manor Cafeの猫たち</h2><p>気になる猫ちゃんがいましたら名前をクリックしてみてください！</p>
        <div class="cat-wrap">
            <% @cats_all.each do |cat| %>
                <div class="cat-box">
                    <div class="cat-img" style="margin-top: 20px;">
                      <%= image_tag asset_path(cat.image, :width =>'200', :height =>'100') if cat.image.attached? %>
                    </div>
                    <div class="cat-name">
                      <span><%=link_to cat.name, public_cat_path(cat) %></span>
                    </div>
                </div>
            <% end %>
        </div>
        <%= paginate @cats %>
    </div>
</div>
