<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
      <body>
        <div class="row">
          <table class="table table-hover table-inverse">
            <tbody>
                <td>名前</td>
              </tr>
              <tr>
                <td>特徴</td>
              </tr>
              <tr>
                <td>性別</td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td>出勤時間</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-5">
          </div>
        </div>
      </body>
    </main>
</html>