    <div class="first_about_message">
        <h2 class="text-center">-Meow Manor Cafeについて-</h2><br>
        <h6 class="text-center">Meow Manor Cafeは猫たちの『邸宅』をイメージした会員制のキャットカフェです。</h6>
        <h6 class="text-center">お客様と猫たちのプライベートな空間を演出しておりますので、</h6>
        <h6 class="text-center">是非リラックスしてお楽しみください。</h6><br><br>
        <%= image_tag('Meow Manor Cafe Design.png', size: '1077x150') %>
        <div class="about-introduction">
            <h4 class="text-center">ご予約について</h4>
            <h6 class="text-center">会員登録をしていただいた方のみ、ご訪問予約が可能です。</h6>
            <h6 class="text-center">会員様お一人のご予約につき、同伴者様は4名様までとさせていただいております。</h6>
            <h6 class="text-center">（同伴者様が非会員様の場合もご予約可能です）</h6>
            <h6 class="text-center">お席は2時間制とさせていただいております。</h6>
            <h6 class="text-center">ご予約をご希望の際は、上部の「SIGN UP」より新規会員登録をお願い致します。</h6>
        </div>
    </div>
