<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <main>
    <body>
      <div class="first_about_message">
        <h2 class="text-center">Meow Manor Cafeについて</h2>
        <h6 class="text-center">Meow Manor Cafeは猫たちの『邸宅』をイメージした会員制のキャットカフェです。</h6>
        <h6 class="text-center">お客様と猫たちのプライベートな空間を演出しておりますので、</h6>
        <h6 class="text-center">是非リラックスしてお楽しみください。</h6>
      </div>
    </body>
  </main>
</html>
</html>