<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <main>
            <div class="row admin-homes-top-message">
                <span class="col-xs-3">管理者トップ画面でーす</span>
            </div>
        </main>
    </body>
</html>