<!--予約一覧-->
<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
      <body>
          <div class="row">
              <div class="col-xs-12">
                  <h3>ご予約履歴一覧</h3>
                  <table class="table table-hover table-inverse">
                      <tr>
                          <th>ご予約日</th>
                          <th>ご予約人数</th>
                          <th>ご予約状況</th>
                      </tr>
                      <% @reservations.each do |reservation|%>
                      <tr>
                          <td><%= reservation.date_and_time.strftime('%Y/%m/%d') %></td>
                          <td><%= reservation.number_of_people %>名様</td>
                          <td><%= reservation.status %></td>
                      </tr>
                      <% end %>
                  </table>
              </div>
          </div>
      </body>
    </main>
</html>