 <main>
      <body>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <p class="text-center">ご予約が完了しました。ご来店を楽しみにしております。</p>
                <div class="thankslogo"><%= image_tag('thanksロゴ.png', size: '99.3x110') %></div>
            </div>
          </div>
        </div>
      </body>
 </main>
