.row{
    margin-top: 180px;
}

h4{
    margin-bottom: 30px;
}

.new-cats{
    margin-top: 30px;
}

span{
    margin-left: 80px;
    margin-right: 50px;
}

tbody{
    padding-left: 40px;
}

td{
    padding-top: 20px;
}

.text-right{
    margin-top: 30px;
}