/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 
 */
//  @use '~bootstrap/scss/bootstrap';
//  @use '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    font-family: 'Zen Maru Gothic', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.d-flex {
    display: flex !important;
    background-color: #ffdab9;
}

body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.container {
    width: 100%;
    white-space: nowrap;
}

.row{
    margin-top: 20px;
}

.form-body{
    background-color: #fffafa;
}


//トップページ
.i-flex{
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

//サインアップ後ヘッダーメッセージ
.welcome-message{
    white-space: nowrap;
    font-size: 15px;
    margin-left: 150px;
}

.first_about_message {
    margin-top: 150px;
    font-color: #808000;
}


ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    white-space: nowrap;
    display: list-item;
    text-align: -webkit-match-parent;
}

.list-body{
    margin-left: 40px;
}

.apporter-vin{
    text-align: center;
    position: relative;
    display: block;
    font-weight: bold;
    font-color: #808000;
    font-size: 30px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
}

.nav-link{
    font-weight: bold;
    font-color: #696969;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
}

.navbar-toggler {
    padding: 0.25rem 0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 0.3rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50% / 100% 100% no-repeat;
    color: #d3d3d3;
}

.input-group-text{
    margin-right: 0px;
}

.new-form-table{
    margin-bottom: 40px;
}

.thankslogo{
    text-align: center;
}

.cat-wrap {
  display: flex;
  flex-wrap: wrap;
}

.cat-box {
  width: 200px;
  height: 250px;
  margin: 10px;
}

.cat-name {
  width: 200px;
}


