<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <main>
      <body>
          <div class="container">
            <div class="row">
                <%= form_with model: @menu_items, url: admin_menu_items_path, method: :post do |f| %>
                    <h2>新しいメニューを登録する</h2>
                    <table class="new-form-table">
                      <tbody>
                        <tr>
                          <th><span>メニュー名</span></th>
                          <td><%= f.text_field :name %></td>
                        </tr>
                        <tr>
                          <th><span>料金(税抜)</span></th>
                          <td><%= f.text_field :price_without_tax %>円</td>
                        </tr>
                      </tbody>
                    </table>
                    <%= f.submit '新規登録', class:"btn btn_-lg btn-outline-dark" %>
                <%end%>
            </div>
          </div>
      </body>
  </main>
</html>
