<div class="row">
        <div class="col-xs-10 col-xs-10 col-xs-offset-1">
            <h2>カフェメニュー</h2>
            <p>リラックスできるドリンクと、猫ちゃん用のおやつをご用意しています。</p>
            <table  class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th>MENU NAME</th>
                        <th>PRICE</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                        <% @menu_items.each do |menu_item| %>
                           <tr>
                                <td><%= menu_item.name %>
                                <td><%= menu_item.price_without_tax %>円</td>
                            </tr>
                        <%end%>
                    <tbody>
            </table>
        </div>
</div>
